<div class="HomeView">


	<a class="home-card" href="#linechart">
		<h1>Line Chart</h1>
		<p>The Line Chart</p>
	</a>
	<a class="home-card" href="#piechart">
		<h1>Pie Chart</h1>
		<p>The Pie Chart</p>
	</a>
</div>